/* Add this CSS to your stylesheet */

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 100vh;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px;
  }
  
  .payment-form input, Button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .pay-button {
    background-color: #61dafb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 12.4vw;
    margin-top: 2vh;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pay-button:hover {
    background-color: #007bff;
  }
  